.pulse {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0 rgb(255, 0, 0);
  animation: pulse 1.7s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(204, 49, 44, 0.4);
    -moz-box-shadow: 0 0 0 0 rgba(204, 49, 44, 0.4);
  }

  70% {
    box-shadow: 0 0 0 20px rgba(204, 49, 44, 0);
    -moz-box-shadow: 0 0 0 0 rgba(204, 49, 44, 0.4);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(204, 49, 44, 0.4);
    -moz-box-shadow: 0 0 0 0 rgba(204, 49, 44, 0.4);
  }
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(204, 49, 44, 0.4);
    -moz-box-shadow: 0 0 0 0 rgba(204, 49, 44, 0.4);
  }

  70% {
    box-shadow: 0 0 0 20px rgba(204, 49, 44, 0);
    -moz-box-shadow: 0 0 0 0 rgba(204, 49, 44, 0.4);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(204, 49, 44, 0.4);
    -moz-box-shadow: 0 0 0 0 rgba(204, 49, 44, 0.4);
  }
}
